.welcome {
  position: relative;
  width: 375px;
  height: 100vh;
  background: #ffffff;
  left: 40%;
}

.welcome h1 {
  position: absolute;
  top: 12%;
  left: 100px;
  letter-spacing: 1px;
}

.welcome h1 span {
  color: #5db075;
  font-weight: bold;
}

.welcome h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  font-size: 35px;
  width: 100%;
  position: absolute;
  top: 25%;
}
.welcome h2 span {
  color: #5db075;
  font-weight: bold;
}

.welcome h3 {
  position: absolute;
  top: 40%;
  left: 40px;
}
.welcome p {
  position: absolute;
  top: 50%;
  left: 80px;
}
.btn-area {
  position: absolute;
  top: 60%;
  margin: 0 120px;
  display: flex;
  flex-direction: column;
}

.btn-area .userbtn {
  width: 150px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 15px 0;
  border-radius: 100px;
  color: #ffffff;
  background: #5db075;
  cursor: pointer;
}

.btn-area .userbtn:hover {
  background-color: #ffffff;
  color: #000;
  transition: 0.3s ease-in-out;
}

.btn-area .merchantbtn {
  width: 150px;
  height: 45px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 15px 0;
  border-radius: 100px;
  color: #ffffff;
  background: #5db075;
  cursor: pointer;
}

.btn-area .merchantbtn:hover {
  background-color: #ffffff;
  color: #000;
  transition: 0.3s ease-in-out;
}
